body {
	background-image: url("iron-throne-background.jpg");
        background-repeat:no-repeat;
       background-size:cover;
}

#audio{
    padding-left: 600px;
    align-items: center;
    
}

#heading{
    font-family: 'Cinzel Decorative', cursive;
    color:white;
    text-align: center;
    font-size: 200%;
}

#text{
    font-family: 'Cinzel Decorative', cursive;
    color:white; 
    font-size: 15px;
   
}

#Lannister-sigil{
    width:300px;
    height:300px;
    padding: 20px;
    
}

#Stark-sigil{
    width:300px;
    height:300px;
    padding: 5px;
}

#Baratheon-sigil{
    width:300px;
    height:300px;
    padding: 5px;
}

#Targaryen-sigil{
    width:300px;
    height:300px;
}

#post-submit {
    visibility: hidden;
}
    _
